# api key
MOENV_API_KEY=your-api-key-here
CWA_API_KEY=your-api-key-here

# postgres
POSTGRES_USER=your-postgres-username-here
POSTGRES_PASSWORD=your-postgres-password-here
POSTGRES_DB=your-postgres-db-here

# pgadmin
PGADMIN_DEFAULT_EMAIL=your-email-here
PGADMIN_DEFAULT_PASSWORD=your-password-here